.Register_container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    height: 400px;
    background-color: #ffff;
    border-radius: 10px;
    margin: 50px 0px;
}
.sub_div_register{
    text-align: center;
    h2{
       color:black; 
    }
    span{
        
    }
}